.tpv {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.categorias {
  width: 200px;
  background: #222;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.categorias button {
  background: #444;
  color: white;
  border: none;
  padding: 12px;
  margin-bottom: 8px;
  cursor: pointer;
}

.categorias button.activa {
  background: #ff9800;
}

.productos {
  flex: 1;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
}

.producto {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.producto img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}


.carrito {
  width: 250px;
  background: #f5f5f5;
  padding: 15px;
  border-left: 2px solid #ddd;
}

.cobrar {
  width: 100%;
  padding: 12px;
  background: green;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}
